<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interior_design.title %>
</p>

<%= link_to 'Edit', edit_interior_design_path(@interior_design) %> |
<%= link_to 'Back', interior_designs_path %>
