<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @interior_color.title %>
</p>

<%= link_to 'Edit', edit_interior_color_path(@interior_color) %> |
<%= link_to 'Back', interior_colors_path %>
