<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @owner.email %></h1>
    <p>
      <%= @name %> Liked your ad <%=@carid.title %>and would like you to contact him on <%=@email%>
    </p>
  </body>
</html>