<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comfort_interior.title %>
</p>

<%= link_to 'Edit', edit_comfort_interior_path(@comfort_interior) %> |
<%= link_to 'Back', comfort_interiors_path %>
