<section id="FormCarImage">
	<div class="file_field">
		<%= f.fields_for :car_images do |image| %>
		<%= render partial: 'car_image_fields' , locals:{:f => image} %>
		<% end %>
	</div>
	<div id="target"></div>
</section>