<div class="nested-fields">
	<div class="inputimagecontainer th">
		<%= f.file_field :image , animated: false, class: "myfile" %>
		<% if(f.object.image_url.blank?) %>
			<%= image_tag("CarIcon#{f.index}.png", size: "250x52") %>
		<% else %>
			<%= image_tag(f.object.image_url, size:"250x52") %>
		<% end %>
	</div>
	<%= f.hidden_field :image_cache %>
</div>
