<section class="PageHead">
  <div class="row">
  </div>
</section>
<section>
  <div class="row">
    <div class="columns large-12 medium-12 medium-centered large-centered">
			<h1>New Car</h1>

			<%= render 'form' %>

			<%= link_to 'Back', cars_path %>
    </div>
  </div>
</section>

