<section class="PageHead">
  <div class="AdContainer">
    <div class="row">
      <div class="columns large-12 medium-12 medium-centered large-centered">
        <div class="AdArea">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- ????? -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-9051649943133421"
                 data-ad-slot="1612164192"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="PageTitle">
  <div class="row">
    <div class="columns large-12 medium-12 medium-centered large-centered">
      <h2>Listing Safety Feature</h2>
    </div>
  </div>
</section>
<section class="DeviseForms">
  <div class="row">
    <div class="large-12 medium-12 columns UserTabs">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @safety_features.each do |safety_feature| %>
            <tr>
              <td><%= safety_feature.title %></td>
              <td><%= link_to 'Edit', edit_safety_feature_path(safety_feature) %></td>
              <td><%= link_to 'Destroy', safety_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Safety feature', new_safety_feature_path %>
    </div>
  </div>
</section>
