<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @safety_feature.title %>
</p>

<%= link_to 'Edit', edit_safety_feature_path(@safety_feature) %> |
<%= link_to 'Back', safety_features_path %>
