<section>
  	<div class="row">
	    <div class="columns large-6 medium-6 medium-centered large-centered">
			<h1>Editing Member</h1>

			<%= render 'edit_form' %>

			<%= link_to 'Show', @member %> |
			<%= link_to 'Back', members_path %>
		</div>
	</div>
</section>
