<section>
	<div class="row">
		<div class="columns large-6 medium-6 medium-centered large-centered">
			<h1>New Member</h1>

			<%= render 'form' %>

			<%= link_to 'Back', members_path %>
		</div>
	</div>
</section>
